{{> header }}

<main class="page album-page">
  <h1> Albums </h1>

  {{#if (eq user.id currentUser.id) }}
    <a href="/albums/new"> Create new album </a>
  {{/if}}

  {{#if albums}}
    <ul class="album-page__list">
      {{#each albums}}
        <li class="album-page__item">
          <a href="/albums/view/{{id}}"> {{title}} </a>

          {{#if description}}
            <div class="album-page__description">
              Description: {{description}}
            </div>
          {{/if}}

          {{#if (eq ../user.id ../currentUser.id) }}
            <a href="/albums/edit/{{id}}">Edit</a>
            <form action="/albums/remove/{{id}}" method="post" class="album-page__form">
              <input type="submit" value="Delete album" class="button album-page__action">
            </form>
          {{/if}}
        </li>
      {{/each}}
    </ul>
  {{else}}
    <div> No albums. </div>
  {{/if}}
</main>
