{{> header }}

<main class="page">
  <h1> Albums </h1>

  {{#if (eq user.id currentUser.id) }}
    <a href="/albums/new"> Create new album </a>
  {{/if}}

  {{#if albums}}
    <ul>
      {{#each albums}}
        <li>
          <a href="/albums/view/{{id}}">{{title}}</a>
          {{#if description}}
            Description: {{description}}
          {{/if}}
          
          {{#if (eq ../user.id ../currentUser.id) }}
            <a href="/albums/edit/{{id}}">Edit</a>
            <form action="/albums/remove/{{id}}" method="post">
              <input type="submit" value="Delete album" class="button">
            </form>
          {{/if}}
        </li>
      {{/each}}
    </ul>
  {{else}}
    <div> No albums. </div>
  {{/if}}
</main>