{{> header }}

<main class="page">
  <a href="/albums/list/{{currentUser.id}}">Go to albums</a>

  {{#if (eq ../user.id ../currentUser.id) }}
    <form action="/albums/remove/{{album.id}}" method="post" class="form form--inline">
      <input type="submit" value="Delete album" class="button">
    </form>
  {{/if}}

  <h1> Edit album: {{album.title}}</h1>

  <h3> Add Photos </h3>
  {{#if photos}}
    <form action="/albums/edit/{{album.id}}/add" method="post">
      {{#each photos}}
        <input type="checkbox" name="photos" value="{{id}}" />
        <img src="/{{url}}" alt="userPhoto" height="100" class="photo"/>
      {{/each}}
      <input type="submit" value="Add Selection" class="button">
    </form>
  {{else}}
    <div> No new photos to add. </div>
  {{/if}}

  <h3> Remove Photos </h3>
  {{#if album.photos}}
    <form action="/albums/edit/{{album.id}}/remove" method="post">
      {{#each album.photos}}
        <input type="checkbox" name="photos" value="{{id}}" />
        <img src="/{{url}}" alt="userPhoto" height="100" class="photo"/>
      {{/each}}
      <input type="submit" value="Remove Selection" class="button">
    </form>
  {{else}}
    <div> No photos in album to remove. </div>
  {{/if}}
</main>
