{{> header }}

<main class="page album-page">

  <a href="/albums/list/{{album.user.id}}">Go to albums</a>

  {{#if (eq album.user.id currentUser.id) }}
    <a href="/albums/edit/{{album.id}}">Edit</a>

    <form action="/albums/remove/{{album.id}}" method="post" class="form form--inline">
      <input type="submit" value="Delete album" class="button">
    </form>
  {{/if}}

  {{#if (eq album.user currentUser.id) }}
    <a href="/albums/edit/{{album.id}}">Edit</a>
    <form action="/albums/remove/{{album.id}}" method="post">
      <input type="submit" value="Delete album" class="button">
    </form>
  {{/if}}
  <h1> Album: {{album.title}} </h1>

  {{#if album.photos}}
    <main class="photos">
      {{#each album.photos}}
        <a href="/photo/{{id}}"><img src="/{{url}}" alt="userPhoto" class="photo"/></a>
      {{/each}}
    </main>
  {{else}}
    <div> Album is empty. </div>
  {{/if}}
  {{#if album.description}}
    Description: {{album.description}}
  {{/if}}
</main>
