{{> header }}

<h1> Homepage </h1>

<form action="/home" class="js-post-form" method="post">
	<textarea placeholder="Express yourself..." name="postContent"></textarea>
	<input type="submit" value="Post"/>
</form>

<h3>Posts:</h3>
{{#each posts}}
<div>
	{{this.user.firstName}} {{this.user.lastName}}<br>
	{{this.content}}<br>Posted at: {{this.postedAt}}<br>
	{{#each this.comments}}
		{{this.content}}<br>
	{{/each}}
</div><br>
{{/each}}

<a href="/logout">Logout</a>
