{{> header }}

<div class="page">

  <form action="/post" class="js-post-form" method="post">
    <textarea placeholder="Express yourself..." name="content"></textarea>
    <input type="submit" value="Post"/>
  </form>

  <div class="posts">
    {{#each posts}}
      <div class="post">
        <div class="post__user">
          {{this.user.firstName}} {{this.user.lastName}}
        </div>
        <div class="post__content">
          {{this.content}}
        </div>
        <div class="post__date">
          Posted at: {{this.postedAt}}
        </div>

        {{#each this.comments}}
          <div class="post__comment">
            {{this.content}}
          </div>
        {{/each}}
      </div>
    {{/each}}
  </div>
</div>
