{{> header }}

<main class="page">

  <form action="/post" class="post-form" method="post">
    <textarea placeholder="Express yourself..." name="content" class="post-form__input"></textarea>
    <input type="submit" value="Post" class="post-form__submit"/>
  </form>

  <div class="posts">
    {{#each posts}}
      <div class="post">
        <div class="post__info">
          <a class="post__user" href="/profile/{{user.id}}">
            {{user.firstName}} {{user.lastName}}
          </a>
          <div class="post__date">
            Posted at: {{formatDate postedAt}}
          </div>
        </div>

        <div class="post__content">
          {{content}}
        </div>

        <div>
          {{likes.length}}

          {{#if (isLiked likes ../currentUser) }}
            <form action="/post/{{this.id}}/unlike" method="post">
              <input type="submit" value="Unlike"/>
            </form>
          {{else}}
            <form action="/post/{{this.id}}/like" method="post">
              <input type="submit" value="Like"/>
            </form>
          {{/if}}
        </div>


        {{#if (isOwner user.id ../currentUser.id) }}
          <form action="/post/{{this.id}}/delete" method="post">
            <input type="submit" value="Delete"/>
          </form>
        {{/if}}

        {{#each comments}}
          <div class="comment">
            <a class="comment__user" href="/profile/{{user.id}}">
              {{user.firstName}} {{user.lastName}}
            </a>
            <br>{{content}}<br>
            <div class="comment__date">
              Posted at: {{formatDate createdAt}}
            </div>

            {{likes.length}}

            {{#if (isLiked likes ../../currentUser) }}
              <form action="/comment/{{this.id}}/unlike" method="post">
                <input type="submit" value="Unlike"/>
              </form>
            {{else}}
              <form action="/comment/{{this.id}}/like" method="post">
                <input type="submit" value="Like"/>
              </form>
            {{/if}}

            {{#if (isOwner user ../../currentUser.id) }}
              <form action="/comment/{{this.id}}/delete" method="post">
                <input type="submit" value="Delete"/>
              </form>
            {{/if}}
          </div>
        {{/each}}

        <form action="/post/{{this.id}}/comment" method="post">
          <textarea placeholder="Add a comment..." name="content" class="post-form__input"></textarea>
          <input type="submit" value="Comment" class="post-form__submit"/>
        </form>
      </div>
    {{/each}}
  </div>
</main>
