<h1> Homepage </h1>

<form action="/search" class="js-search-form" method="get">
	<input type="text" class="js-search" placeholder="Search" name="query"/>
	<input type="submit" value="Search"/>
</form>

<h3>You are logged in as: {{user.firstName}} {{user.lastName}}</h3>

<form action="/home" class="js-post-form" method="post">
	<textarea placeholder="Express yourself..." name="postContent"></textarea>
	<input type="submit" value="Post"/>
</form>

<h3>Posts:</h3>
{{#each posts}}
<div>
	{{this.user.firstName}} {{this.user.lastName}}<br>
	{{this.content}}<br>Posted at: {{this.postedAt}}<br>
	{{#each this.comments}}
		{{this.content}}<br>
	{{/each}}
</div><br>
{{/each}}

<a href="/logout">Logout</a>