{{> header }}

<main class="page">

  <a href="/contacts"> Contacts </a>

  <h1> {{user.firstName}} {{user.lastName}}</h1>
  {{#if (isEqual user.id currentUser.id)}}
    {{#if (isContact user currentUser)}}
      <a href="/contact/remove/{{user.id}}">Remove contact</a>
    {{else}}
      {{#if (hasRequest user currentUser)}}
        <a href="/contact/request/{{user.id}}">Cancel contact request</a>
      {{else}}
        <a href="/contact/request/{{user.id}}">Send contact request</a>
      {{/if}}
    {{/if}}
  {{/if}}

  <h3> Posts: </h3>

  {{#each user.posts}}
    <div class="post">
      <div class="post__info">
        <div class="post__date">
          Posted at: {{formatDate postedAt}}
        </div>
      </div>
      <div class="page__content">
        {{content}}
      </div>
    </div>
  {{/each}}
</main>
