{{> header }}

<main class="page">

  <h1> {{user.firstName}} {{user.lastName}}</h1>
  {{#if (isEqual user.id currentUser.id)}}
    <div class="requests">
      <div class="requests__title">
        Contact requests
      </div>
    {{#each user.requests}}
      <div class="request">
        {{this.firstName}} {{this.lastName}}
        <a href="/contact/accept/{{this.id}}">Accept</a>
        <a href="/contact/decline/{{this.id}}">Decline</a>
      </div>
    {{/each}}
    </div>
  {{else}}
    {{#if (isContact user currentUser)}}
      <a href="/contact/remove/{{user.id}}">Remove contact</a>
    {{else}}
      {{#if (hasRequest user currentUser)}}
        <a href="/contact/request/{{user.id}}">Cancel contact request</a>
      {{else}}
        <a href="/contact/request/{{user.id}}">Send contact request</a>
      {{/if}}
    {{/if}}
  {{/if}}

  <h3> Posts: </h3>

  {{#each user.posts}}
    <div class="post">
      <div class="post__info">
        <div class="post__date">
          Posted at: {{formatDate postedAt}}
        </div>
      </div>
      <div class="page__content">
        {{content}}
      </div>
    </div>
  {{/each}}
</main>
