{{> header }}

<main class="page">

  {{#if (isEqual user.id currentUser.id)}}
    <a href="/contacts"> Contacts </a>
  {{/if}}

  <h1> {{user.firstName}} {{user.lastName}}</h1>
  {{#unless (isEqual user.id currentUser.id)}}
    {{#if (isContact user currentUser)}}
      <a href="/contact/remove/{{user.id}}">Remove contact</a>
    {{else}}
      {{#if (hasSentRequest user currentUser)}}
        <a href="/contact/request/{{user.id}}">Cancel contact request</a>
      {{else if (hasReceivedRequest user currentUser)}}
        <a href="/contact/accept/{{user.id}}">Accept</a>
        <a href="/contact/decline/{{user.id}}">Decline</a>
      {{else}}
        <a href="/contact/request/{{user.id}}">Send contact request</a>
      {{/if}}
    {{/if}}
  {{/unless}}

  <h3> Posts: </h3>

  {{#each user.posts}}
    <div class="post">
      <div class="post__info">
        <div class="post__date">
          Posted at: {{formatDate postedAt}}
        </div>
      </div>
      <div class="page__content">
        {{content}}
      </div>
    </div>
  {{/each}}
</main>
