{{> header }}

<main class="page">
  <h1> {{user.firstName}} {{user.lastName}}</h1>
  {{#if user.profilePhoto}}
    <img src="/{{user.profilePhoto.url}}" alt="userPhoto" height="200" class="photo"/>
  {{/if}}
  <a href="/profile-photo"> Change profile photo </a>

  {{#unless (eq user.id currentUser.id)}}
    <form action="/chat/{{user.id}}" method="get">
      <input type="submit" value="Chat" class="button"/>
    </form>
  {{/unless}}
  

  <div class="about-user">
    <h4> About {{user.firstName}} </h4>
    <ul>
      <li> Date of birth: {{formatDate user.dateOfBirth}} </li>
      <li> Contact: {{user.email}} </li>
    </ul>

    {{#if (eq user.id currentUser.id) }}
      <a href="/profile/{{currentUser.id}}/edit"> Edit profile </a>
    {{/if}}
  </div>

  {{#if (eq user.id currentUser.id)}}
    <a href="/contacts"> Your contacts </a>
  {{/if}}

  {{#unless (eq user.id currentUser.id)}}
    {{#if (isContact user currentUser)}}
      <form action="/contact/remove/{{user.id}}" method="post">
        <input type="submit" value="Remove contact" class="button"/>
      </form>
    {{else}}
      {{#if (hasSentRequest user currentUser)}}
        <form action="/contact/request/{{user.id}}" method="post">
          <input type="submit" value="Cancel contact request" class="button"/>
        </form>
      {{else if (hasReceivedRequest user currentUser)}}
        <form action="/contact/accept/{{user.id}}" method="post">
          <input type="submit" value="Accept" class="button"/>
        </form>
        <form action="/contact/decline/{{user.id}}" method="post">
          <input type="submit" value="Decline" class="button"/>
        </form>
      {{else}}
        <form action="/contact/request/{{user.id}}" method="post">
          <input type="submit" value="Send contact request" class="button"/>
        </form>
      {{/if}}
    {{/if}}
  {{/unless}}

  {{#if (isAllowedToView user currentUser)}}
    <section>
      <header>
        <h3> Photos: </h3>
      </header>

      <main class="photos">
        {{#each user.photos}}
          <a href="/photo/{{id}}"><img src="/{{url}}" alt="userPhoto" height="100" class="photo"/></a>
        {{/each}}

        <div>
          Upload Photo:
          {{#if (eq user.id currentUser.id)}}
            <form method='post' action='/upload' enctype='multipart/form-data'>
              <input type='file' name='file' accept='image/*'>
              <div><input type="checkbox" name="isProfile" value="true" /> Profile Photo</div>
              <textarea placeholder="Photo description" name="description" class="post-form__input"></textarea>
              <input type='submit' class="button">
            </form>
          {{/if}}
        </div>
      </main>
      <div>
        <h4><a href="/albums/list/{{user.id}}"> Albums </a></h4>
      </div>
    </section>
  {{/if}}

  {{#if (eq user.id currentUser.id)}}
    <form action="/post" class="post-form" method="post">
      <textarea placeholder="Express yourself..." name="content" class="post-form__input"></textarea>
      <input type="submit" value="Post" class="post-form__submit"/>
    </form>
  {{/if}}

  {{#if user.posts}}
    <section>
      <header>
        <h3> Posts: </h3>
      </header>
      <main class="posts">
        {{#each user.posts}}
          <div class="post">
            <div class="post__info">
              <a class="post__user" href="/profile/{{user.id}}"> {{user.firstName}} {{user.lastName}} </a>
              <div class="post__date"> Posted at: {{formatDate postedAt}} </div>
            </div>

            <div class="post__content"> {{content}} </div>

            <div class="post__actions">
              <span class="post__likes {{#if (isLiked likes ../currentUser)}} is-active {{/if}}"> {{likes.length}} </span>

              {{#if (isLiked likes ../currentUser) }}
                <form action="/post/{{this.id}}/unlike" method="post">
                  <input type="submit" value="Unlike" class="button post__action"/>
                </form>
              {{else}}
                <form action="/post/{{this.id}}/like" method="post">
                  <input type="submit" value="Like" class="button post__action"/>
                </form>
              {{/if}}

              {{#if (eq user.id ../currentUser.id) }}
                <form action="/post/{{this.id}}/delete" method="post">
                  <input type="submit" value="Delete" class="button post__action"/>
                </form>
              {{/if}}
            </div>

            {{#each comments}}
              <div class="comment">
                <div class="comment__info">
                  <a class="comment__user" href="/profile/{{user.id}}">
                    {{user.firstName}} {{user.lastName}}
                  </a>
                  <div class="comment__date">
                    Posted at: {{formatDate createdAt}}
                  </div>
                </div>

                <div class="comment__content"> {{content}} </div>

                <div class="post__actions">
                  <span class="post__likes {{#if (isLiked likes ../../currentUser)}} is-active {{/if}}"> {{likes.length}} </span>

                  {{#if (isLiked likes ../../currentUser) }}
                    <form action="/comment/{{this.id}}/unlike" method="post">
                      <input type="submit" value="Unlike" class="button post__action"/>
                    </form>
                  {{else}}
                    <form action="/comment/{{this.id}}/like" method="post">
                      <input type="submit" value="Like" class="button post__action"/>
                    </form>
                  {{/if}}
                  
                  {{#if (eq user.id ../../currentUser.id) }}
                    <form action="/comment/{{this.id}}/delete" method="post">
                      <input type="submit" value="Delete" class="button post__action"/>
                    </form>
                  {{/if}}
                </div>
              </div>
            {{/each}}

            <form action="/post/{{this.id}}/comment" method="post" class="post-form">
              <textarea placeholder="Add a comment..." name="content" class="post-form__input"></textarea>
              <input type="submit" value="Comment" class="post-form__submit"/>
            </form>
          </div>
        {{/each}}
      </main>
    </section>
  {{else}}
    <div> No posts. </div>
  {{/if}}


</main>
