{{> header }}

<main class="page">
  <h1> Contact Requests </h1>

  {{#if requests}}
    <ul>
      {{#each requests}}
        <li>
          {{this.firstName}} {{this.lastName}}

          <form action="/contact/accept/{{this.id}}" method="post">
            <input type="submit" value="Accept" />
          </form>

          <form action="/contact/decline/{{this.id}}" method="post">
            <input type="submit" value="Decline" />
          </form>
        </li>
      {{/each}}
    </ul>
  {{else}}
    <div> No requests. </div>
  {{/if}}
</main>
