{{> header }}

<main class="page">
  <h1> Contact Requests </h1>

  {{#if requests}}
    <ul>
      {{#each requests}}
        <li>
          <a href="/profile/{{this.id}}">{{this.firstName}} {{this.lastName}}</a>

          <form action="/contact/accept/{{this.id}}" method="post">
            <input type="submit" value="Accept" class="button"/>
          </form>

          <form action="/contact/decline/{{this.id}}" method="post">
            <input type="submit" value="Decline" class="button"/>
          </form>
        </li>
      {{/each}}
    </ul>
  {{else}}
    <div> No requests. </div>
  {{/if}}
</main>
