{{> header }}

<main class="page search-page">
  <h1> Search results </h1>

  {{#if users}}
    <ul class="search-page__list">
      {{#each users}}
        <li class="search-page__item">
          {{#if this.profilePhoto}}
            <img src="/{{this.profilePhoto.url}}" alt="userPhoto" height="50" class="photo search-page__image"/>
          {{/if}}
          <a href="/profile/{{this.id}}">{{this.firstName}} {{this.lastName}}</a>

          {{#unless (eq this.id ../currentUser.id)}}
            <a href="/chat/{{this.id}}" class="button search-page__action"> Chat </a>

            {{#if (isContact this ../currentUser)}}
              <form class="search-page__form" action="/contact/remove/{{this.id}}" method="post">
                <input type="submit" value="Remove contact" class="button search-page__action"/>
              </form>
            {{else}}
              {{#if (hasSentRequest this ../currentUser)}}
                <form class="search-page__form" action="/contact/request/{{this.id}}" method="post">
                  <input type="submit" value="Cancel contact request" class="button search-page__action"/>
                </form>
              {{else if (hasReceivedRequest this ../currentUser)}}
                <form class="search-page__form" action="/contact/accept/{{this.id}}" method="post">
                  <input type="submit" value="Accept" class="button search-page__action"/>
                </form>
                <form class="search-page__form" action="/contact/decline/{{this.id}}" method="post">
                  <input type="submit" value="Decline" class="button search-page__action"/>
                </form>
              {{else}}
                <form class="search-page__form" action="/contact/request/{{this.id}}" method="post">
                  <input type="submit" value="Send contact request" class="button search-page__action"/>
                </form>
              {{/if}}
            {{/if}}
          {{/unless}}
        </li>
      {{/each}}
    </ul>
  {{else}}
    <div> No results. </div>
  {{/if}}
</main>
